{% load i18n %}

<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filters" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-4 rounded-3 shadow">
      <div class="modal-header border-bottom-0">
        <h3 class="modal-title" id="filters">
          {% translate "Filters" %}
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-grid gap-4">
          {% for element in elements %}
            <div>
              {{ element }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>