{% load i18n rest_framework %}

<h5>{% translate "Ordering" %}</h5>
<ul class="list-unstyled d-grid gap-2">
  {% for key, label in options %}
  <li>
    <a href="{% add_query_param request param key %}" class="d-flex align-items-center text-decoration-none">
      <div class="form-check d-flex align-items-center">
        {% if key == current %}
        <input type="radio" id="{{ key }}" checked class="form-check-input" name="order">
        {% else %}
        <input type="radio" id="{{ key }}" class="form-check-input" name="order">
        {% endif %}
      </div>
      {{ label }}
    </a>
  </li>
  {% endfor %}
</ul>