{% load i18n %}

<h5>{% translate "Search" %}</h5>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input
        type="search"
        class="form-control"
        name="{{ param }}"
        value="{{ term }}"
        placeholder="{% translate 'Type here to search...' %}"
      />
      <button class="btn btn-outline-primary shadow-sm" type="submit">
        <span class="d-flex align-items-center gap-4">
          <i class="bi bi-search"></i>
          {% translate "Search" %}
        </span>
      </button>
    </div>
  </div>
</form>
